Alert-Platform-ADF-Test/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Alert-Platform-ADF-Test"
		},
		"LS_ADLS_ITH_AlertPlatform_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_ITH_AlertPlatform'"
		},
		"LS_AzureSQL_ITHAlertPlatform_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AzureSQL_ITHAlertPlatform'"
		},
		"LS_MSSQL_RACDOTDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_MSSQL_RACDOTDB'"
		},
		"Odoo_PostgreSql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Odoo_PostgreSql'"
		},
		"RACDOTDB_MSSQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RACDOTDB_MSSQL'"
		},
		"LS_ADLS_ITH_AlertPlatform_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dotpladlsv2.dfs.core.windows.net/"
		},
		"LS_AzureSQL_ITHAlertPlatform_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "alert-platform-sql-server.database.windows.net"
		},
		"LS_AzureSQL_ITHAlertPlatform_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ITH-AlertPlatform-ProdDB"
		},
		"LS_AzureSQL_ITHAlertPlatform_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azureadmin"
		},
		"LS_MSSQL_RACDOTDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "164.52.216.126"
		},
		"LS_MSSQL_RACDOTDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RACDOTDB"
		},
		"LS_MSSQL_RACDOTDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "RACPRO"
		},
		"LS_SynapseArtifacts_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://synapse-workspace-dotpl.dev.azuresynapse.net"
		},
		"Odoo_PostgreSql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "216.48.184.195"
		},
		"Odoo_PostgreSql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ithfleet"
		},
		"Odoo_PostgreSql_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "adf_reader"
		},
		"RACDOTDB_MSSQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "164.52.216.126"
		},
		"RACDOTDB_MSSQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RACDOTDB"
		},
		"RACDOTDB_MSSQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "RACPRO"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy_data_tbl1_to_tbl2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_tqp",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.kpi_details_proj1"
							},
							{
								"name": "Destination",
								"value": "dbo.kpi_details_proj1_destination"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "record_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "record_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "integration_name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "integration_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "remarks",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "remarks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "refresh_timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "refresh_timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_tqp",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_tqp",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-07T09:14:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_tqp')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_tqp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_KPI_Indecab_Dashboard')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create_Run_Indecab",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[sp_create_dashboard_run]",
								"storedProcedureParameters": {
									"integration_name": {
										"type": "String",
										"value": "Indecab_Dashboard"
									},
									"pipeline_name": {
										"type": "String",
										"value": "PL_KPI_Indecab_Dashboard"
									},
									"run_id": {
										"type": "Guid",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"started_at": {
										"type": "DateTime",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AzureSQL_Metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy_network_requests_Indecab",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set_create_run_output_indecab",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat(\n    'SELECT * FROM [dbo].[Indecab_duty_incoming_request_events] WHERE CDAT >= ''', \n    json(variables('create_run_output_indecab')).last_run_at_ist,\n    ''''\n)\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_RACDOTDB_Metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Indecab_Duty_Incoming_Request_Events",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set_create_run_output_indecab",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Create_Run_Indecab",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "create_run_output_indecab",
							"value": {
								"value": "@string(activity('Create_Run_Indecab').output.firstRow)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Indecab_Notebook",
						"type": "SynapseNotebook",
						"dependsOn": [
							{
								"activity": "Copy_network_requests_Indecab",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebook": {
								"referenceName": {
									"value": "Indecab_notebook",
									"type": "Expression"
								},
								"type": "NotebookReference"
							},
							"parameters": {
								"last_run_at_ist": {
									"value": {
										"value": "@json(variables('create_run_output_indecab')).last_run_at_ist",
										"type": "Expression"
									},
									"type": "string"
								}
							},
							"snapshot": true,
							"sparkPool": {
								"referenceName": {
									"value": "sparkkpi",
									"type": "Expression"
								},
								"type": "BigDataPoolReference"
							},
							"conf": {
								"spark.dynamicAllocation.enabled": null,
								"spark.dynamicAllocation.minExecutors": null,
								"spark.dynamicAllocation.maxExecutors": null
							},
							"numExecutors": null
						},
						"linkedServiceName": {
							"referenceName": "LS_SynapseArtifacts",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"last_started": {
						"type": "String"
					},
					"new_started": {
						"type": "String"
					},
					"create_run_output_indecab": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-08T08:58:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_Metadata')]",
				"[concat(variables('factoryId'), '/datasets/DS_RACDOTDB_Metadata')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Indecab_Duty_Incoming_Request_Events')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SynapseArtifacts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Odoo_To_SQL_Bookings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": "select id, name, booking_no, state, renter_fname, renter_lname, renter_email from sale_order",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PostgreSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-07T10:28:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Indecab_Duty_Incoming_Request_Events')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_ITH_AlertPlatform",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ITH-AlertPlatform-Prod"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Indecab_Network_Requests.parquet",
						"folderPath": "synapse/Staging/ITH/Indecab_Dashboard",
						"fileSystem": "synapsecontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_ITH_AlertPlatform')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzureSQL_Metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_ITHAlertPlatform",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ITH-AlertPlatform-Prod"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_ITHAlertPlatform')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RACDOTDB_Metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MSSQL_RACDOTDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ITH-AlertPlatform-Prod"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MSSQL_RACDOTDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_tqp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RACDOTDB_MSSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "record_id",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "integration_name",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "remarks",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "refresh_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "kpi_details_proj1_destination"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RACDOTDB_MSSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Odoo_PostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": "sale_order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Odoo_PostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_tqp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RACDOTDB_MSSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "record_id",
						"type": "varchar"
					},
					{
						"name": "integration_name",
						"type": "varchar"
					},
					{
						"name": "status",
						"type": "varchar"
					},
					{
						"name": "remarks",
						"type": "varchar"
					},
					{
						"name": "refresh_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "kpi_details_proj1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RACDOTDB_MSSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RACDOTDB_MSSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "booking_no",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "renter_fname",
						"type": "nvarchar"
					},
					{
						"name": "renter_lname",
						"type": "nvarchar"
					},
					{
						"name": "renter_email",
						"type": "nvarchar"
					},
					{
						"name": "inserted_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "odoo_sale_order_sync_TEST"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RACDOTDB_MSSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_ITH_AlertPlatform')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_ITH_AlertPlatform_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_ITH_AlertPlatform_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_ITHAlertPlatform')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQL_ITHAlertPlatform_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQL_ITHAlertPlatform_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSQL_ITHAlertPlatform_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureSQL_ITHAlertPlatform_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MSSQL_RACDOTDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_MSSQL_RACDOTDB_properties_typeProperties_server')]",
					"database": "[parameters('LS_MSSQL_RACDOTDB_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_MSSQL_RACDOTDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_MSSQL_RACDOTDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SynapseArtifacts')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSynapseArtifacts",
				"typeProperties": {
					"endpoint": "[parameters('LS_SynapseArtifacts_properties_typeProperties_endpoint')]",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/42f20fa9-3073-4ab8-9009-ee5b9e3edadc/resourceGroups/dotpl/providers/Microsoft.Synapse/workspaces/synapse-workspace-dotpl"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Odoo_PostgreSql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('Odoo_PostgreSql_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('Odoo_PostgreSql_properties_typeProperties_database')]",
					"username": "[parameters('Odoo_PostgreSql_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Odoo_PostgreSql_password')]"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RACDOTDB_MSSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source Table",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('RACDOTDB_MSSQL_properties_typeProperties_server')]",
					"database": "[parameters('RACDOTDB_MSSQL_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('RACDOTDB_MSSQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RACDOTDB_MSSQL_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}