src/pipeline/PL_KPI_Indecab_Dashboard.json
{
	"name": "PL_KPI_Indecab_Dashboard",
	"properties": {
		"activities": [
			{
				"name": "Create_Run_Indecab",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_create_dashboard_run]",
						"storedProcedureParameters": {
							"integration_name": {
								"type": "String",
								"value": "Indecab_Dashboard"
							},
							"pipeline_name": {
								"type": "String",
								"value": "PL_KPI_Indecab_Dashboard"
							},
							"run_id": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"started_at": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_Metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_network_requests_Indecab",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_create_run_output_indecab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat(\n    'SELECT * FROM [dbo].[Indecab_duty_incoming_request_events] WHERE CDAT >= ''', \n    json(variables('create_run_output_indecab')).last_run_at_ist,\n    ''''\n)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_RACDOTDB_Metadata",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Indecab_Duty_Incoming_Request_Events",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set_create_run_output_indecab",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create_Run_Indecab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "create_run_output_indecab",
					"value": {
						"value": "@string(activity('Create_Run_Indecab').output.firstRow)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Indecab_Notebook",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Copy_network_requests_Indecab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "Indecab_notebook",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"parameters": {
						"last_run_at_ist": {
							"value": {
								"value": "@json(variables('create_run_output_indecab')).last_run_at_ist",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "sparkkpi",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				},
				"linkedServiceName": {
					"referenceName": "LS_SynapseArtifacts",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"last_started": {
				"type": "String"
			},
			"new_started": {
				"type": "String"
			},
			"create_run_output_indecab": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-08T08:58:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}