src/pipeline/PL_KPI_Indecab_Dashboard.json
{
	"name": "PL_KPI_Indecab_Dashboard",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Last_Run",
				"description": "Get last successful started_at (UTC)",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create_Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TOP 1 started_at\nFROM dbo.dashboard_run\nWHERE pipeline_name = 'PL_KPI_Indecab_Dashboard'\n  AND run_status = 'Success'\nORDER BY started_at DESC;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_Metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_last_started",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_Last_Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_started",
					"value": {
						"value": "@coalesce(activity('Lookup_Last_Run').output.firstRow.started_at, '1900-01-01T00:00:00Z')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Create_Run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_network_requests_Indecab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_create_dashboard_run]",
					"storedProcedureParameters": {
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"integration_name": {
							"value": "Indecab_Dashboard",
							"type": "String"
						},
						"pipeline_name": {
							"value": "PL_KPI_Indecab_Dashboard",
							"type": "String"
						},
						"started_at": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_ITHAlertPlatform",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Create_Run_Indecab",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_create_dashboard_run]",
						"storedProcedureParameters": {
							"integration_name": {
								"type": "String",
								"value": "Indecab_Dashboard"
							},
							"pipeline_name": {
								"type": "String",
								"value": "PL_KPI_Indecab_Dashboard"
							},
							"run_id": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"started_at": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_Metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_network_requests_Indecab",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_create_run_output_indecab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat(\n    'SELECT * FROM [dbo].[Indecab_duty_incoming_request_events] WHERE CDAT >= ''', \n    json(variables('create_run_output_indecab')).last_run_at_ist,\n    ''''\n)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_RACDOTDB_Metadata",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Indecab_Duty_Incoming_Request_Events",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set_create_run_output_indecab",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create_Run_Indecab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "create_run_output_indecab",
					"value": {
						"value": "@string(activity('Create_Run_Indecab').output.firstRow)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"last_started": {
				"type": "String"
			},
			"new_started": {
				"type": "String"
			},
			"create_run_output_indecab": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-08T08:58:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}